/*#F61067, #5E239D, #00F0B5*/
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    background-color: #5E239D;
    color: white;
    font-size: 1.25em;
    min-height: 9em;

}
#business-info-wrapper{
    display: flex;
    flex-direction: column;
    width: 15em;
}
#business-info-wrapper p{
    margin: 0;
    text-wrap:wrap;
}
header div{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    padding-right: 1em;
    padding-top:1em;
}

header img{
    height: 8em;
    padding-left: 1em;
    padding-top:0.5em;
}
nav{
    height: 3em;
    width: 100%;
    background-color: #5E239D;
    
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li a{
    color: white;
    font-size: 1.3em;
    
}
nav ul li a:visited{
    color: white;
    font-size: 1.3em;
}
